@font-face {
  font-family: "iconfont"; /* Project id 5025502 */
  src: url('./iconfont.woff2?t=1758243406758') format('woff2'),
       url('./iconfont.woff?t=1758243406758') format('woff'),
       url('./iconfont.ttf?t=1758243406758') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-deng:before {
  content: "\e66d";
}

.icon-GitHub:before {
  content: "\e6d5";
}

.icon-youxiang:before {
  content: "\e908";
}

