@font-face {
  font-family: "iconfont"; /* Project id 5026674 */
  src: url('iconfont.woff2?t=1758384820354') format('woff2'),
       url('iconfont.woff?t=1758384820354') format('woff'),
       url('iconfont.ttf?t=1758384820354') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-QQ:before {
  content: "\e882";
}

.icon-xiazai:before {
  content: "\e620";
}

.icon-github:before {
  content: "\e645";
}

.icon-steam:before {
  content: "\e722";
}

