@import "../../../styles/_variables.sass";

.helloBox-all{
    width: 40vw;
    height: 40vh;
    position: absolute;
    top: 20vh;
    left: 33vw;
    background-color: transparent;
}

.helloBox-Dark { 
    @extend .helloBox-all;
}

.helloText{
    font-size: 4rem;
    color:$white-color-dark;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.helloName{
    font-size: 5rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.introText{
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color:rgba(255, 255, 255, 0.7);
}